@import url('https://fonts.googleapis.com/css?family=Montserrat');

.historyDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-weight: bolder;
}