@import url('https://fonts.googleapis.com/css?family=Montserrat');

.login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(65, 237, 243);
    border-radius: 10px;
    padding: 3em;
    font-family: 'Montserrat', sans-serif;

}
.login .error {
    display: flex;
    flex-direction: column;
    text-align: center;
     background: white;
     border-radius: 10px;
     padding: 1em;
     color:white;
     background: red;
     font-family: 'Montserrat', sans-serif;

 
}
.login > * {
   margin: 1em 0;
   min-width: 60vw;
}
